@{
  Layout = "_Layout";
}
@using ParksClient.Models;
@model ParksClient.Models.Park;

<div class="jumbotron">
    <h2 class="display-4"> Edit: @Html.DisplayTextFor(model => model.Name)</h2>
</div>
<form asp-action="Edit" asp-controller="Parks" method="post">
<div class='content'>
    @Html.HiddenFor(model => model.ParkId)
    @Html.HiddenFor(model => model.StateId)
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <br>
    @Html.LabelFor(model => model.IsNational)
    @Html.TextBoxFor(model => model.IsNational)
    <br>
    <input type="submit" value="Edit" class="btn btn-secondary" />
</div>
</form>

<div class='links'>
  <p>@Html.ActionLink("Back to all destinations", "Index")</p>
</div>